<ul id="associated-content" class="list-group associated-content"></ul>
<div class="clearfix"></div>
<button type="submit" class="btn btn-primary mb-3 mt-2" title="Save" disabled onclick="AssocSave()"><i class="bi bi-save2-fill"></i> Save</button>

<div class="err"></div>
<div class="dropzone bi bi-cloud-upload"></div>