@{
    ViewData["Title"] = "Documentation";
}
<h1>@ViewData["Title"]</h1>

<p>Documentation regarding various apects could be found at <a href="https://docs.google.com/document/d/1arxpuFZeH0-wSDiPeqGITXCv4QyfDtWb/edit?usp=sharing&ouid=117346421118620353373&rtpof=true&sd=true" target="_blank" rel="nofollow">https://docs.google.com/document/d/1arxpuFZeH0-wSDiPeqGITXCv4QyfDtWb/edit?usp=sharing&ouid=117346421118620353373&rtpof=true&sd=true</a>.</p>

<partial name="pDocDB" />