<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<system.webServer>
		<modules>
			<remove name="RequestFilteringModule" />
			<remove name="WebDAVModule" />
			<!--remove name="RequestFiltering" /-->
		</modules>
		<handlers>
			<remove name="WebDAV" />
			<remove name="aspNetCore" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\InfProject.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
			<!--environmentVariables>
     <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
</environmentVariables-->
		</aspNetCore>
		<security>
			<requestFiltering>
				<!-- Handle requests up to 10 GB -->
				<!--requestLimits maxAllowedContentLength="10737418240" /-->
				<!-- Handle requests up to 2 GB (maximum since it's int) -->
				<!--requestLimits maxAllowedContentLength="2147483648" /-->
			</requestFiltering>
		</security>
	</system.webServer>
	<system.web>
		<!-- executionTimeout: in seconds; maxRequestLength: in KiloBytes = 1Gb -->
		<!--httpRuntime executionTimeout="3600" maxRequestLength="1048576" /-->
		<!-- executionTimeout: in seconds; maxRequestLength: in KiloBytes = 2Gb -->
		<!--httpRuntime executionTimeout="3600" maxRequestLength="2097152" /-->
		<httpRuntime executionTimeout="3600" maxRequestLength="10485760" />
	</system.web>
</configuration>
