@using InfProject.Utils
@using WebUtilsLib;
@model (List<WCSampleShort> data, List<WebAppUser> persons, int selectedUserId, string mode)
@{
    (List<WCSampleShort> data, List<WebAppUser> persons, int selectedUserId, string mode) = Model;
    string selectedPerson = selectedUserId != 0 ? persons.First(x => x.Id == selectedUserId).Name : string.Empty;
    // mode == "weak", "full"
    string adds = string.IsNullOrEmpty(selectedPerson) ? string.Empty : " by " + selectedPerson;
    string title = $"Empty samples{adds} ({mode})";
    ViewData["Title"] = title;
}

<h1 class="display-4">@ViewData["Title"]</h1>
<div id="FilterPerson" class="FilterPerson">
    <div class="input-group mb-3">
        <span class="input-group-text border-0 bg-transparent">Person:</span>
        <select class="form-select" id="userid" name="userid" aria-label="Person" asp-items="@(new SelectList(persons, "Id", "Name", selectedUserId))" onchange="searchByUserId($(this).val());">
            <option></option>
        </select>
    </div>
</div>


@await Html.PartialAsync("../Shared/pWCSampleList", data)
@section Scripts {
    <link href="~/css/datatables.min.css" rel="stylesheet" type="text/css" />
    <script src="~/js/datatables.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            initDataTable();
        });
    </script>

}
